ElevatorSimulator.Animator/bin
ElevatorSimulator.Animator/obj
ElevatorSimulator.Domain/bin
ElevatorSimulator.Domain/obj
ElevatorSimulator/bin
ElevatorSimulator/obj
ElevatorSimulator.Animator/obj
ElevatorSimulator.Animator/bin
ElevatorSimulator.Domain/bin
